In [2]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
text = "Is it possible distinguishing cats and dogs"
print(nltk.word_tokenize(text))
print(nltk.pos_tag(nltk.word_tokenize(text)))

['Is', 'it', 'possible', 'distinguishing', 'cats', 'and', 'dogs']
[('Is', 'VBZ'), ('it', 'PRP'), ('possible', 'JJ'), ('distinguishing', 'VBG'), ('cats', 'NNS'), ('and', 'CC'), ('dogs', 'NNS')]

In [2]:
from kiwipiepy import Kiwi
kiwi = Kiwi()
print(kiwi.analyze("딥러닝이 쉽나요? 어렵나요?"))

[([Token(form='딥', tag='NNG', start=0, len=1), Token(form='러닝', tag='NNG', start=1, len=2), Token(form='이', tag='JKS', start=3, len=1), Token(form='쉽', tag='VA-I', start=5, len=1), Token(form='나요', tag='EF', start=6, len=2), Token(form='?', tag='SF', start=8, len=1), Token(form='어렵', tag='VA-I', start=10, len=2), Token(form='나요', tag='EF', start=12, len=2), Token(form='?', tag='SF', start=14, len=1)], -70.00836181640625)]

In [4]:
# 전처리
# 결측치 확인
# 토큰화
# 불용어 제거
# 어간 추출
# 정규화

In [11]:
# 결측치 확인

import numpy as np
import pandas as pd
df = pd.read_csv('080263/chap9/data/class2.csv')
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [12]:
df.isnull().sum()

Unnamed: 0    0
id            0
tissue        0
class         0
class2        0
x             2
y             2
r             2
dtype: int64

In [13]:
df.isnull().sum() / len(df)

Unnamed: 0    0.000000
id            0.000000
tissue        0.000000
class         0.000000
class2        0.000000
x             0.333333
y             0.333333
r             0.333333
dtype: float64

In [14]:
df = df.dropna(how='all')
print(df)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [15]:
df1 = df.dropna()
print(df1)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [16]:
df2 = df.fillna(0)
print(df2)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [17]:
x_mean = df['x'].mean()
df.fillna({'x': x_mean}, inplace=True)
print(df)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I  500.0    NaN    NaN
3           3  mdb003      C  CIRC      B  500.0    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [19]:
# 토큰화

from nltk import sent_tokenize

text_sample = 'Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language. In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.'
tokenized_sentences = sent_tokenize(text_sample)
for tokenized_sentence in tokenized_sentences:
    print(tokenized_sentence)

Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language.
In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.

In [21]:
from nltk import word_tokenize

sentence = "This book is for deep learning learners."
words = word_tokenize(sentence)
print(words)

['This', 'book', 'is', 'for', 'deep', 'learning', 'learners', '.']

In [23]:
from nltk.tokenize import WordPunctTokenizer

sentence = "it's nothing that you don't already know except that most people aren't aware of how their inner world works."
words = WordPunctTokenizer().tokenize(sentence)
print(words)

['it', "'", 's', 'nothing', 'that', 'you', 'don', "'", 't', 'already', 'know', 'except', 'that', 'most', 'people', 'aren', "'", 't', 'aware', 'of', 'how', 'their', 'inner', 'world', 'works', '.']

In [24]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence

sentence = "it's nothing that you don't already know except that most people aren't aware of how their inner world works."
words = text_to_word_sequence(sentence)
print(words)